<mat-toolbar>
    <mat-toolbar-row style="font-size: 1.5rem; height:80px;">
      <span><mat-icon style="font-size: 22px; vertical-align: text-bottom;">library_music</mat-icon> Playlist<mat-icon aria-setsize="size:80px">turntable</mat-icon></span>
      <span class="example-spacer"></span>
      <button mat-raised-button ><mat-icon>playlist_add_check</mat-icon> Tocar Selecionadas</button>
      <button mat-raised-button ><mat-icon>pause</mat-icon> Pausar</button>
      <button mat-raised-button (click)="addMusic()"><mat-icon>add</mat-icon> Adicionar Música</button>
      <button mat-raised-button (click)="manageGenre()"><mat-icon>favorite_border</mat-icon> Gerenciar Estilos</button>
    </mat-toolbar-row>
</mat-toolbar>
<app-playlist></app-playlist>
