   /* mat-confirm-dialog (customised dialog) */
   .confirm-dialog-container .mat-dialog-container {
    border-radius: .25em .25em .4em .4em;
    padding: 0px;
}
.content-container{
    margin: 5px;
    color:gray;
    font-size: 20px;
    text-align: center;
}


.mat-dialog-actions{
    display: 1 1 auto;
    justify-content: space-between;
  }

  .mat-dialog-actions #cancel{
    background-color:khaki;
    width:100px;
    margin:10px
  }

  .mat-dialog-actions #ok{
    background-color:red;
    width:100px;
    margin: 10px;
  }

