<mat-tab-group class="tab">
 
    <mat-tab label="Todas" fxLayout="row wrap">
      <mat-progress-bar *ngIf="!ready" mode="indeterminate"></mat-progress-bar>
       <div *ngIf="ready" fxLayout="row wrap" class="container">
         <div class= "grid-item" *ngFor="let playlist of playlistsByStyle">   
             <div class="card-title" fxLayout="row">
               <span class="card-name" fxLayoutAlign="start center">{{playlist.name}}</span>
               <!-- <span class="card-channel"fxLayoutAlign="start center">{{playlist.style}}</span>  -->
                </div>    
             <div class="card-title" fxLayout="row">  
                   <span class="card-date" fxFlex="90" fxLayoutAlign="start center">Adicionado em: {{playlist.date | localDateTime}}</span>    
                   <span fxFlex></span>
                   <span fxFlex="5" fxLayoutAlign="end end">
                     <button mat-icon-button class="icon" (click)="onDelete(playlist.id)" aria-label="Excluir">
                       <mat-icon>delete_outline</mat-icon></button></span>              
             </div>
             <div class="card-content" fxLayoutAlign="center center">
               <div>
                 <iframe [src]="playlist.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
               </div>
             </div> 
         </div>
       </div>
     </mat-tab>
  <div *ngFor="let genre of allGenres">
    <mat-tab label="{{genre.name}}" fxLayout="row wrap">
     <mat-progress-bar *ngIf="!ready" mode="indeterminate"></mat-progress-bar>
      <div *ngIf="ready" fxLayout="row wrap" class="container">
        <div class= "grid-item" *ngFor="let playlist of playlistsByStyle | filter : 'style' : genre.name">   
            <div class="card-title" fxLayout="row">
              <span class="card-name" fxLayoutAlign="start center">{{playlist.name}}</span>
              <!-- <span class="card-channel"fxLayoutAlign="start center">{{playlist.style}}</span>  -->
               </div>    
            <div class="card-title" fxLayout="row">  
                  <span class="card-date" fxFlex="90" fxLayoutAlign="start center">Adicionado em: {{playlist.date | localDateTime}}</span>    
                  <span fxFlex></span>
                  <span fxFlex="5" fxLayoutAlign="end end">
                    <button mat-icon-button class="icon" (click)="onDelete(playlist.id)" aria-label="Excluir">
                      <mat-icon>delete_outline</mat-icon></button></span>              
            </div>
            <div class="card-content" fxLayoutAlign="center center">
              <div>
                <iframe [src]="playlist.urlSafe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div> 
        </div>
      </div>
    </mat-tab>
  </div>  
</mat-tab-group>