<h1 mat-dialog-title>Adicionar Música</h1>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="playlistForm">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nome da Música</mat-label>
            <input matInput placeholder="" formControlName="name" name="name">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Link Completo</mat-label>
            <input matInput placeholder="" formControlName="link" name="link">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Estilo</mat-label>
        <mat-select matInput formControlName="style" name="style">
            <mat-option *ngFor="let genre of allGenres" [value]="genre.name">
            {{genre.name}}
            </mat-option>
        </mat-select>
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
  <button mat-button id="cancel" (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="createLive()">Adicionar Música</button>
</div>